.container {
  display: flex;
  justify-content: center;
}

.puzzle {
  text-align: center;
  font-size: 2em;
  min-width: 400px;
  max-width: 80vw;
}

.puzzle span {
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
}
